# service url
BASE.BASE_URL=https://base.service.url
# handle redirect requests
BASE.MAX_REDIRECT=5
# verify https curl requests
BASE.VERIFY=false
# encoding response content set false to disable
BASE.ENCODING='gzip, deflate'